@import url('../../../utils/_variables.css');

/* --lite-orange-color  светло-оранжевый*/

.labels_style{
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 0.02em; 
  text-align: center;
}

.statistics_icon{
  position: relative;
  background-color: transparent;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;  
  height: 63px;
  width: 56px;  
  border: none;
  fill: var(--dark-icons-color);
  transition: stroke 0.2s, fill 0.3s;  
}

.statistics_icon_active{
  position: relative;
  background-color: transparent;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;  
  height: 63px;
  width: 56px;  
  border: none;
  transition: stroke 0.1s, fill 0.2s;    
  fill: var(--accent-orange-color);
  cursor: pointer;
}

.wrapper_icon:hover .statistics_icon{  
    cursor: pointer;
    fill: var(--accent-orange-color);
}


.wrapper_icon:hover .background_hide {  
  fill: var(--lite-orange-color);
}

.statistics_list{   
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  align-items: center;    
  margin-top: calc(-1 * 30);
  margin-left: calc(-1 * 20px); 
}

.statistics_item{
  position: relative;     
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;    
  margin-top: calc(1 * 30);
  margin-left: calc(1 * 20px);
  flex-basis: calc((100% - 60px) / 3);  
  margin-bottom: 20px;   
}

.wrapper_icon {
  position: relative;
  background-color: transparent;
  fill: var(--light-icons-color);
}

.wrapper_background, .background_hide {
  width: 59px;
  height: 46px;
  position: absolute;
  top: 50%;
  left: 50%;  
  transform: translate(-50%, -50%);
  z-index: 0;
}

.wrapper_icon .background_hide{
  fill: var(--light-icons-color);
}

.wrapper_icon .wrapper_background{
  fill: var(--lite-orange-color);
}


@media (min-width: 767px) {
  .statistics_list{     
    height: 286px;
    width: 613px;
    padding-bottom: 0;
  }  

  .statistics_item{
      flex-basis: calc((100% - 120px) / 6);
    }    
}
  
@media (min-width: 1200px) { 
  .statistics_item{
    flex-basis: calc((100% - 120px) / 6); 
  }}



