.container{
  display: flex;
  height: 44px;
}
.input{
  padding-right: 15px;
  outline: none;
  border: 2px solid var(--light-icons-color);
  background-color: inherit;
  text-align: end;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
}
/* Убрать дефолтные стрелочки */
/* Это для браузера Chrome: */
.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Это для браузера Firefox: */
.input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
/* Для других */
.input[type=number]::-webkit-inner-spin-button,
.input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input::placeholder{
  color: var(--placeholder-text-color);
}
.calcContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--light-icons-color);
  border-left: none;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
@media (max-width: 767px) {
  .container{
    margin: 0 auto;   
  }
  .input{
    width: 125px;
    border-color: var(--white-color);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px; 
  }
  .calcContainer{
    width: 60px;
    border-color: var(--white-color);
  }
}
@media (min-width: 768px) {
  .input{
    width: 64px;
    padding-right: 10px;
    border-right: none;
  }
  .calcContainer{
    width: 40px;
    justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  .input {
    width: 86px;
  }
}