.datepickerButton {
  margin-right: 25px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  font-style: normal;

  font-weight: 900;
  color: #52555f;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.wrapper {
  display: flex;
  align-items: flex-end;
}

.icon {
  margin-right: 10px;
}