.wraper {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.imgBack {
  /* background-image: url('../../../images/back.png'); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.conteiner {
  width: 282px;
  padding-left: 19px;
  padding-right: 19px;
  margin: 0 auto;
}
.arrow {
  width: 18px;
  height: 12px;
}

.form {
  margin-top: 15px;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  display: none;
}

.select {
  margin-bottom: 30px;
}

.list {
  position: relative;
  top: 83px;
  padding: 0px;
  margin: 0px;
  display: flex;
}

.item {
  margin-right: 15px;
}

.position {
  display: none;
}

.position {
  display: none;
}

@media screen and (min-width: 768px) {
  .wraper {
    height: 626px;
    background-color: #ffffff;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 0px 30px 30px 30px;
  }

  .conteiner {
    display: flex;
    padding: 28px 0px 0px 0px;
    margin: 0;
  }

  .imgBack {
    background-image: none;
  }

  .form {
    margin-top: 0px;
  }

  .flex {
    position: relative;
    z-index: 25;
    margin-top: 13px;
    margin-bottom: 30px;
  }

  .box {
    display: block;
    height: 20px;
    margin-left: 31px;
  }

  .list {
    position: static;
    padding: 0px;
    margin: 20px 0 0 30px;
    padding-bottom: 480px;
    display: flex;
  }

  .position {
    display: block;
    position: absolute;
    margin-top: 40px;
  }
  .report {
    position: absolute;
    top: 375px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 1280px) {
  .wraper {
    width: 1060px;
    height: 579px;
    position: relative;
  }

  .flex {
    margin-bottom: 0px;
  }

  .box {
    margin-left: 20px;
  }

  .form {
    display: flex;
    align-items: center;
  }

  .list {
    position: static;
    margin: 0px;
    padding: 0px;
    margin-left: 27px;
    margin-right: 20px;
  }

  .item {
    margin-right: 10px;
  }
  .position {
    display: block;
    position: absolute;
    z-index: 50;
    top: 105px;
    left: 780px;
    margin-left: 30px;
  }
  .report {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    position: static;
    left: 0;
    transform: translateX(0);
  }
}
