.app {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}
.container {
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}
@media (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
* {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  color: black;
}

li {
  list-style: none;
}
